<h1>Listing probabilities</h1>

<table>
  <thead>
    <tr>
      <th>Total pool</th>
      <th>Number of attendees</th>
      <th>Attended inc</th>
      <th>Unattended inc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @probabilities.each do |probability| %>
      <tr>
        <td><%= probability.total_pool %></td>
        <td><%= probability.number_of_attendees %></td>
        <td><%= probability.attended_inc %></td>
        <td><%= probability.unattended_inc %></td>
        <td><%= link_to 'Show', probability %></td>
        <td><%= link_to 'Edit', edit_probability_path(probability) %></td>
        <td><%= link_to 'Destroy', probability, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Probability', new_probability_path %>
